<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model21" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model22" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model23" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model24" connectionString="data source=DESKTOP-L83UMOV\SQLEXPRESS;initial catalog=111;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>